/Comando.class
/ComandoAiuto.class
/ComandoFine.class
/ComandoGuarda.class
/ComandoNonValido.class
/ComandoPosa.class
/ComandoPrendi.class
/ComandoVai.class
/FabbricaDiComandi.class
/FabbricaDiComandiFisarmonica.class
