/BorsaTest.class
/ComandoPosaTest.class
/ComandoPrendiTest.class
/ComandoVaiTest.class
/FabbricaDiComandiFisarmonicaTest.class
/GiocatoreTest.class
/LabirintoTest.class
/PartitaSimulataTest.class
/PartitaTest.class
/StanzaBloccataTest.class
/StanzaBuiaTest.class
/StanzaTest.class
